{% extends 'base.html' %}
{% block content %}
    <div class="reg-usuario">
        <h2>Login:</h2>
        <div class='my-forms'>
            <form action="" method="POST">
                {% for field in form %}
                    {% csrf_token %}
                    <div class="my-forms-fields">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" action="" value="Login">
            </form>
            <p>¿Olvidaste tu password? <a href="/resetpassword/">Click aquí</a></p>
        </div>
    </div>
{% endblock %}
