{% extends 'base.html' %}
{% block content %}
    <div class="reg-usuario" xmlns="http://www.w3.org/1999/html">
        <h2>Perfil</h2>
            <div class='my-forms'>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="my-forms-fields span4">

                        <label for="nickname">Nickname</label>
                        <p><input id="nickname" name="nickname" type="text" value="{{ perfil.nickname }}">{{ perfil.nickname.errors }}</p>
                        <label for="nombre">Nombre</label>
                        <p><input id="nombre" name="nombre" type="text" value="{{ perfil.nombre }}">{{ perfil.nombre.errors }}</p>
                        <label for="apellidos">Apellidos</label>
                        <p><input id="apellidos" name="apellidos" type="text" value="{{ perfil.apellidos }}">{{ perfil.apellidos.errors }}</p>
                        <label for="email">E-mail</label>
                        <p><input id="email" name="email" type="email" value="{{ user.email }}">{{ perfil.email.errors }}</p>
                        <label for="frase_favorita">Frase favorita</label>
                        <p><input id="frase_favorita" name="frase_favorita" type="text" value="{% if perfil.frase_favorita%}{{ perfil.frase_favorita }}{% endif %}">{{ perfil.frase_favorita.errors }}</p>
                        <label for="fecha_de_nacimiento">Fecha de Nacimiento</label>
                        <p><input id="fecha_de_nacimiento" name="fecha_de_nacimiento" type="text" value="{% if perfil.fecha_de_nacimiento %}{{ perfil.fecha_de_nacimiento }}{% endif %}"></p>
                        <label for="peliculas_preferidas">Peliculas Preferidas</label>
                        <p><input id="peliculas_preferidas" name="peliculas_preferidas" type="text" value="{% if perfil.peliculas_preferidas %}{{ perfil.peliculas_preferidas }}{% endif %}"></p>
                        <label for="cine_de_preferencia">Cine favorito</label>
                        <p><input id="cine_de_preferencia" name="cine_de_preferencia" type="text" value="{% if perfil.cine_de_preferencia%}{{ perfil.cine_de_preferencia}}{% endif %}"></p>
                        <p><input id="password" value="{{ user.password }}"></p>
                        <p><input id="password2" value="{{ user.password2 }}"></p>

                    </div>
                    <div class="my-forms-fields profile-scondary span4">
                        <h5 class="forms-subtitle">Datos opcionales</h5>
                        <p>
                            {% if perfil.imagen %}
                                <img src="{{ perfil.imagen.url }}"/>
                            {% else %}

                                <input type="file">
                            {% endif %}
</p>
                        <label>Manos arriba</label>
                        <label>Emblemas</label>
                        <label>Reviews</label>
                    </div>
                    <div class="span8"><input class="btn btn-danger" type="submit" action="" value="Save changes"></div>

                </form>
                <p><a href="editar-password.hml">Cambiar password</a></p>

        </div>
    </div>
{% endblock %}
